:root {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, ul {
    margin: 0;
}

.header {
    grid-column: 1 / 3;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header > svg {
    height: 50px;
    width: 50px;
    fill:hsl(7, 78%, 44%);
}

.header > h1 {
    color: hsl(7, 78%, 44%);
    font-family: "Pacifico", cursive;
}

.sidebar {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar > h2 {
    margin: 1rem 0 0.25rem 0;
}

.page {
    margin: 0.5rem 0;
}

.page:hover {
    cursor: pointer;
    text-decoration: underline;
}

#add-to-do-button {
    height: 50px;
    width: 50px;
    fill: hsl(7, 78%, 44%);
    align-self: center;
}

#add-to-do-button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-content {
    background-color: antiquewhite;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    overflow: hidden;
    overflow-y: auto;
}

.to-dos-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.to-do {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    align-content: center;
    padding: 1rem;
}

.low {
    border-left: 1rem solid hsl(106, 78%, 44%);
}

.medium {
    border-left: 1rem solid hsl(24, 78%, 56%);
}

.high {
    border-left: 1rem solid hsl(0, 72%, 50%);
    background-color: hsl(0, 0%, 100%);
}

.delete-icon {
    width: 35px;
    height: 35px;
    justify-self: center;
    align-self: center;
}

.delete-icon:hover {
    cursor: pointer;
}

.footer {
    grid-column: 1 / 3;
    background-color:hsl(7, 78%, 44%);
    color: white;
    text-align: center;
}

.add-to-do-dialog {
    height: 75%;
    width: 50%;
    border-radius: 1rem;
    border: none;
    box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.5);;
}

.add-to-do-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 100%;
}

.input {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-heading {
    text-align: center;
}

#close-button, #submit-button {
    background-color: hsl(7, 78%, 44%);
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 0.5rem;
    justify-self: right;
}

#submit-button {
    background-color: hsl(120, 78%, 44%);
    justify-self: center;
}